.container {
    box-sizing: border-box;
    margin: 0px;
    padding: 16px;
    width: 400px;
    height: calc(100vh - 32px);
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    background: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.title {
    box-sizing: border-box;
    margin: 0px;
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.signUpForm {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
