.guestUser {
    box-sizing: border-box;
    margin: 0px;
    padding: 16px 0px;
    width: 100%;
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.alternateLoginPrompt {
    color: var(--text-color);
    opacity: 0.5;
    font-size: 14px;
}

.guestUserButton {
    background: var(--content-background-color) !important;
    color: var(--text-color) !important;
    border: 1px solid var(--border-color) !important;
}

.guestUserButton:hover {
    border: 1px solid var(--primary-color) !important;
}
