@import 'mapbox-gl/dist/mapbox-gl.css';

:root {
  --primary-color: rgba(18, 160, 56, 1);
  --secondary-color: rgba(210, 148, 24, 1);
  --background-color: rgba(19, 19, 19, 0.9);
  --content-background-color: rgba(120, 120, 120, 0.15);
  --text-color: rgba(217, 217, 217, 1);
  --border-color: rgba(58, 58, 58, 1);
  --primary-hover-color: rgba(15, 130, 45, 1);
}

html, body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

* {
  font-family: 'Inter', 'Inter Fallback' !important;
}

main {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

a {
  text-decoration: underline !important;
  outline: none !important;
  color: var(--secondary-color) !important;
}

/* Mapbox Custom Styles */

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: var(--primary-color) !important;
}

.mapboxgl-popup-content {
  background: var(--background-color) !important;
  border: 1px solid var(--primary-color) !important;
  border-radius: 10px !important;
  color: var(--text-color) !important;
  font-family: 'Inter', 'Inter Fallback' !important;
  font-style: normal !important;
}

.mapboxgl-ctrl-attrib {
  display: none;
}

/* Mapbox GL Draw Styles */
.mapboxgl-ctrl-group {
  background: var(--background-color) !important;
}

.mapbox-gl-draw_ctrl-draw-btn {
  filter: invert(100%);
}

/* AntD Custom Styles */

/* AntD DateRangePicker Styles */
.ant-picker-range,
.ant-picker-range:hover,
.ant-picker-range:active {
  background: var(--content-background-color) !important;
  border: none !important;
  box-shadow: none !important;
}

.ant-picker-range input {
  color: var(--text-color) !important;
}

.ant-picker-range input::placeholder {
  color: var(--text-color) !important;
  opacity: 0.7 !important;
}

.ant-picker-range .ant-picker-active-bar {
  background: var(--primary-color) !important;
}

.ant-picker-range .ant-picker-clear {
  color: var(--text-color) !important;
}

.ant-picker-range .ant-picker-clear:hover,
.ant-picker-range .ant-picker-clear:active {
  color: var(--text-color) !important;
  opacity: 0.7 !important;
}

.ant-picker-range-arrow::before,
.ant-picker-panel-container {
  background: var(--content-background-color) !important;
  backdrop-filter: blur(6px) !important;
  border: 2px solid var(--border-color) !important;
}

.ant-picker-panel-container th,
.ant-picker-panel-container td,
.ant-picker-panel-container .ant-picker-header {
  color: var(--text-color) !important;
}

.ant-picker-panel-container .ant-picker-header-super-prev-btn,
.ant-picker-panel-container .ant-picker-header-prev-btn,
.ant-picker-panel-container .ant-picker-header-super-next-btn,
.ant-picker-panel-container .ant-picker-header-next-btn {
  color: var(--text-color) !important;
}

/* AntD Form Styles */
.ant-input-outlined {
  background: var(--content-background-color) !important;
  border: 1px solid var(--border-color) !important;
  color: var(--text-color) !important;
}

.ant-input-outlined:focus {
  border: 1px solid var(--primary-color) !important;
}

.ant-input[type='password'] {
  background: transparent !important;
  border: none !important;
  color: var(--text-color) !important;
}

.ant-input-outlined:has(.ant-input[type='password']:focus) {
  border: 1px solid var(--primary-color) !important;
}

.anticon {
  color: var(--text-color) !important;
}

/* AntD Dropdown Styles */
.ant-dropdown-menu {
  background: var(--background-color) !important;
}

.ant-dropdown-menu-item {
  color: var(--text-color) !important;
}

.ant-dropdown-menu-item:hover {
  background: var(--primary-color) !important;
}
