.container {
    position: absolute;
    top: 16px;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    pointer-events: none;
}

.containerLeft {
    flex-direction: row;
    left: 16px;
    justify-content: flex-start;
}

.containerRight {
    flex-direction: row-reverse;
    right: 16px;
    justify-content: flex-end;
}

.panel {
    box-sizing: border-box;
    margin: 0px;
    padding: 20px;
    height: calc(100vh - 32px);
    background: var(--secondary-color);
    transition: all 0.3s ease;
    pointer-events: all;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.panelOpen {
    width: 600px;
    visibility: visible;
}

.panelClose {
    width: 0px;
    visibility: hidden;
}

.navIcon {
    font-size: 24px;
    cursor: pointer;
    background: var(--secondary-color);
    color: var(--text-color);
    transition: all 0.3s ease;
    pointer-events: all;
    border-radius: 8px;
}

.navIcon:hover {
    font-size: 28px;
}

.navIconLeft {
    transform: rotate(0deg);
}

.navIconRight {
    transform: rotate(180deg);
}
