.container {
    position: absolute;
    top: 16px;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    pointer-events: none;
}

.containerLeft {
    flex-direction: row;
    left: 16px;
    justify-content: flex-start;
}

.containerRight {
    flex-direction: row-reverse;
    right: 16px;
    justify-content: flex-end;
}

.panel {
    height: calc(100vh - 32px);
    background: grey;
    opacity: 0.5;
    transition: all 0.2s ease;
    pointer-events: all;
}

.panelOpen {
    width: 256px;
}

.panelClose {
    width: 0px;
}

.navIcon {
    font-size: 24px;
    cursor: pointer;
    background: grey;
    color: white;
    opacity: 0.5;
    transition: all 0.2s ease;
    pointer-events: all;
}

.navIcon:hover {
    opacity: 1;
}

.navIconLeft {
    transform: rotate(0deg);
}

.navIconRight {
    transform: rotate(180deg);
}
