.container {
    box-sizing: border-box;
    margin: 0px;
    padding: 16px;
    width: 80px;
    height: calc(100vh - 32px);
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    background: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.tabs {
    box-sizing: border-box;
    margin: 0px;
    margin-top: 80px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.addDevice {
    margin-top: auto;
}

.userTab {
    box-sizing: border-box;
    margin: 0px;
    margin-top: auto;
    padding: 0px;
    width: 44px;
    height: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
