.container {
    box-sizing: border-box;
    margin: 0px;
    padding: 16px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.chartTitle {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.chartContainer {
    width: 100%;
    height: 100%;
}

.tooltip {
    background: var(--tertiary-color) !important;
    backdrop-filter: blur(4px) !important;
    color: var(--text-color) !important;
    border: 1px solid var(--primary-color) !important;
    border-radius: 8px !important;
}
