.container {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.popup {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.popupHeader {
    box-sizing: border-box;
    margin: 0px;
    padding: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    background: var(--tertiary-color);
    border-radius: 10px;
}

.node {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-weight: 600;
    font-size: 14px;
}

.metadata {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-weight: 200;
    font-size: 10px;
}

.popupContentKeyIcon {
    padding-bottom: 4px;
    text-align: center;
    vertical-align: bottom;
    white-space: nowrap;
}

.popupContentKey {
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    white-space: nowrap;
}

.popupContentValue {
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    white-space: nowrap;
}
